/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div#root {
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box;
}


.color {
    background: linear-gradient(to right, #ff512f, #f09719);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.bg-color {
    background: linear-gradient(to right, #ff512f, #f09719);
}

.text-shadow {
    text-shadow: 4px 0px rgba(255, 81, 47, .73)
}

.animate_50ms,
.animate_1ms {
    -webkit-animation-delay: 50ms;
    animation-delay: 50ms;
}

.animate_350ms,
.animate_3ms {
    -webkit-animation-delay: 350ms;
    animation-delay: 350ms;
}

.animate_200ms,
.animate_2ms {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.animate_500ms,
.animate_4ms {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.correct {
    background-color: green;
    color: #fff;
    transition: .5s all;
}

.wrong {
    background-color: red;
    color: #fff;
    transition: .5s all;
}